.hero {
    position: relative;
    height: 100%;
    width: 100%;
}

.hero #button {
    margin-top: 4rem;
}

.hero__bg {
    position: absolute;
    top: -6%;
    right: 0;
    height: fit-content;
    width: 50%;
}

.hero__logo {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

@keyframes rotating {
    0% {
        transform: translateX(200%) rotate(100deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero__img {
    position: absolute;
    bottom: 10rem;
    right: 17rem;
    height: 70%;
    width: 50%;
}

.hero__text {
    width: 100%;
    max-width: 1550px;
    margin: auto;
}

.hero__primary {
    color: #3b93f7;
    font-weight: 600;
    font-size: 4rem;
}

.hero__secondary {
    max-width: 62rem;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.5rem;
    color: #3563c1;
}

.btn__hero {
    width: 187px;
    height: 63px;
    background: #3563c1;
    border-radius: 10px;
    color: white;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 2rem;
}

@media (max-width: 1024px) {
    .hero__secondary {
        font-size: 2rem;
        line-height: 3.2rem;
    }
    .hero__logo img {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .hero__logo {
        top: 1%;
        left: 1%;
    }
    .hero__logo img {
        width: 40%;
    }
    .hero__img {
        right: 10rem;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.hero__bg [id^='float'] {
    animation: float 3s ease-in-out infinite;
}

@media (max-width: 425px) {
    .hero__bg {
        width: 80%;
    }
    .hero__text {
        margin-bottom: 40% !important;
        text-align: center;
    }
}
