.hero {
    position: relative;
    height: 100%;
    width: 100%;
}

.hero #button {
    margin-top: 4rem;
}

.hero__bg {
    position: absolute;
    top: -6%;
    right: 0;
    height: fit-content;
    width: 50%;
}

.hero__logo {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.landing__curve__bg {
    z-index: -1;
    position: absolute;
    width: 78%;
    height: 78%;
    bottom: 0%;
    left: -4%;
}

.hero__logo img {
    width: 60%;
}

@keyframes rotating {
    0% {
        transform: translateX(200%) rotate(100deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hero__img {
    position: absolute;
    bottom: 0rem;
    right: 10rem;
    height: 80%;
    width: 80%;
}

.hero__text {
    width: 100%;
    max-width: 1550px;
    margin: auto;
}

.hero__primary {
    color: #3b93f7;
    font-weight: 600;
    font-size: 5rem;
    max-width: 40rem;
    text-align: center;
}

.hero__primary img {
    height: 100px;
}

.hero__title {
    max-width: 40rem;
    font-weight: 600;
    font-size: 2rem;
    color: #3563c1;
    text-align: center;
}

.hero__title:nth-child(2) {
    font-size: 2.5rem;
}

.hero__secondary {
    max-width: 40rem;
    font-weight: 600;
    font-size: 2rem;
    color: #3563c1;
    text-align: justify;
}

.hero__title:first-child {
    font-size: 2.5rem !important;
    line-height: 120%;
}

.btn__hero {
    width: 187px;
    height: 63px;
    background: #3563c1;
    border-radius: 10px;
    color: white;
}

.hero__button {
    max-width: 40rem;
    text-align: center;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    margin-right: auto;
    display: flex;
    padding: 7rem;
}

@media (max-width: 1024px) {
    .hero__secondary {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .hero__logo img {
        width: 40% !important;
    }
}

@media (max-width: 768px) {
    .hero__logo {
        top: 1%;
        left: 1%;
    }
    .hero__logo img {
        width: 12rem !important;
    }

    .hero__primary img {
        height: 75px;
    }
}

@keyframes float {
    0% {
        filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
    }
    50% {
        filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 0.6));
        transform: translatey(-20px);
    }
    100% {
        filter: drop-shadow(0 15px 5px rgba(0, 0, 0, 0.6));
        transform: translatey(0px);
    }
}

.hero__bg [id^='float'] {
    animation: float 3s ease-in-out infinite;
}

@media (max-width: 425px) {
    .hero__bg {
        width: 80%;
    }
    .hero__text {
        margin-bottom: 30% !important;
        text-align: center;
    }
}

@media (max-height: 700px) and (max-width: 500px) {
    .hero__text {
        margin-bottom: 10% !important;
        text-align: center;
    }
}

@media (max-height: 550px) and (max-width: 500px) {
    .hero__primary img {
        height: 50px;
    }

    .hero__text {
        margin-bottom: 0 !important;
        text-align: center;
    }
    .hero__secondary {
        margin: 0 auto;
        max-width: 40rem;
    }
    .hero #button {
        margin-top: 1rem;
    }
}

@media (max-height: 700px) and (min-width: 1000px) {
    .hero__text {
        margin-bottom: 0 !important;
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) and (max-height: 500px) and (orientation: landscape) {
    .hero__logo img,
    .hero__logo p {
        width: 12rem !important;
    }

    .hero__logo p {
        font-size: 0.4rem !important;
    }
    .hero__primary,
    .hero__secondary,
    .hero__title {
        width: 30rem;
    }
    .hero__button {
        max-width: 30rem;
    }
    .hero #button {
        margin-top: 2rem;
    }
    .hero__text {
        margin-bottom: 5rem !important;
        text-align: center;
    }
}
